<header>
    <h1>Placeholder Header</h1>
    <!-- TODO - Conditional header links -->

    <h2>
        <% if (localStorage.getItem('email')) { %>
            <%= localStorage.getItem('email') %>
        <% } else { %>
            Visitor
        <% } %>
    </h2>

    <nav>
        <a href="readers/sign-up">Sign Up</a>
        <p>|</p>
        <a href="/readers/log-in">Log In</a>
        <a href="">Log Out</a>
        <p>|</p>
        <a href="">Author Log In</a>
        <a href="">Author Log Out</a>
    </nav>

</header>