<header>
    <h1>
        <a href="/">Home Link</a>
    </h1>
    <!-- TODO - Conditional header links -->

    <!-- If logged in, display username and logout -->
    <nav>
        <% if (localStorage.getItem('full_name')) { %>
            <p><%= localStorage.getItem('full_name') %></p>
            <a href="/readers/log-out">Log Out</a>
        <% } else { %>
            <a href="/readers/log-in">Log In</a>
            <a href="/readers/sign-up">Sign Up</a>
        <% } %>
    </nav>

</header> 