body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header, footer {
 background-color: rgb(230, 230, 230);
}

form {
  background-color: rgb(192, 236, 255);
  padding: 10px;
  display: flex;
  flex-direction: column ;
}

.testPost {
  background-color: rgb(230, 230, 230);
  margin: 10px;
}
